:root {
  --primary-color: #ec1f55;
  --text-color: #333;
  --base-color : #e3edf7;
  --darkmode-color : #8f9bdb;
  --timetext-color: #4d4d4d;
  --titletext-color : #000;
}

.darkmode {
  --primary-color: #ec1f55;
  --text-color: #474040;
  --base-color : #183451;
  --darkmode-color : #dddfef;
  --timetext-color: #131416;
  --titletext-color : #fff;

}
#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--darkmode-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}

#theme-switch i {
  fill: var(--primary-color)
}

#theme-switch i:last-child {
  display: none;
}

.darkmode #theme-switch i:first-child {
  display: none;
}

.darkmode #theme-switch i:last-child {
  display: block;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--base-color);
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  width: 480px;
  margin: 0 auto;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 15px;

}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 0 16px 14px;
  background-color: var(--base-color);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--titletext-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(70, 40, 40, 0.7);
}

/* CONTROL */
.control {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control .btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255,255,255,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d4d4d;
  background-color: var(--base-color);
  cursor: pointer;
}

.control .btn:active {
  box-shadow: inset 6px 6px 10px -1px rgba(0,0,0,0.15),
  inset -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.control .btn:active,
.control .btn.active {
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    color: var(--primary-color); /* Icon chuyển sang màu đỏ */
}

/* Để nút repeat và random có màu đỏ khi active */
.control .btn-repeat.active,
.control .btn-random.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress-details {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.progress-bar-container {
  height: 6px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.progress {
    -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  cursor: pointer;
  z-index: 2; 
  position: absolute;
  top: 0;
  left: 0;
}

.progress::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: none;
  background: #ccc; /* Màu nền của thanh trượt */
  border-radius: 15px;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  box-shadow: -400px 0 0 400px var(--primary-color);
}

.progress:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px; /* Khoảng cách giữa progress bar và thời gian */
  color: #4d4d4d;
  font-size: 14px;
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: var(--timetext-color);
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}